@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Merriweather+Sans&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;
    background: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

/*HEADER*/
.header{
    
    background-color: #0080ff;
    max-width: 1500px;
    margin: auto;
    
}

.header-mobile{
    display: none;
    
    
    
}
.header-mobile i{
    color: #ffffff;
    font-size: 40px;
}
.header-mobile .logo{
    max-width: 250px;
}
.header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
   
}


.main-menu{
    display: flex;
    justify-content: space-evenly;

   
}
.main-menu a{
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.second-menu a{
    margin-left: 20px;
    color:  #ffffff ;
    background: transparent;
    width: 100px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

 .main-menu a:hover{
    color: #ee7809;
    
}

.second-menu a:hover{
    transform: scaleX(1.01);
    color:  #ee7809;
    border: 1px solid #ee7809;
    transition: 1s;
}


.second-menu{
    display: flex;
    justify-content: space-evenly;
 
}





/*BANNER*/
.banner-contener{
    display: flex;
    margin-bottom: 0;
    height:100vh;
   
    
}

.banner-text{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 60px;
    justify-content: center;
    background-color: black;
    width: 50vw;
    
}


.logo{
    max-width: 300px;
}

.slogan-grafiki{
    color: rgba(255, 255, 255, 0.951);
    font-size: 20px;
    text-transform:capitalize;
    margin-top: 0;
   
}

.content-apropos{
    color: rgba(255, 255, 255, 0.951);
    width: 40vw;
  
}


.text-apropos a {
    color: #0080ff;
    text-decoration: none;
    font-size: 15px;
    
}

.text-apropos{
    margin-bottom: 15px;
}


.content-apropos h2{
    color: #0080ff;
   
}

.liens-sociaux{
    display: flex;
    align-items: center;

    vertical-align: middle;
   
    color:  #0080ff;
}

i{
    margin-left: 15px;
    color:  #0080ff;
   
}

.banner-image{
    background: #000000;
    width: 50vw;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895_1280.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


@media screen and (max-width:987px) {
    body{

        font-size: 17px;
    }
    
    .header{
        display: none;
    }
    .header-mobile{
      
        background-color: #0080ff3d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
       
    }
    .header-mobile .logo{
        max-width: 200px;
    }
    .logo-grafiki{
        display: none;
    }
  
    .banner-text{
        width: 100vw;
        padding: 0 30px 0 30px;
      justify-content:flex-start;
        
    }
    .slogan-grafiki{
       
        font-size: 20px;
        
       
    }
    .content-apropos{

        width: auto;
    }

   
   .banner-image{
    display: none;
   }
   


}